@mixin large {
    @media(max-width:$large){
        @content;
    }
}
@mixin extraLarge {
    @media(max-width:$large){
        @content;
    }
}

    @mixin absoluteCenter {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
@mixin transitionProperty{
    transition-duration: 1000ms;
    transition-property: all;
}